*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-title {
  font-size: 16px;
}

.page-title {
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  margin-top: 0;
}

.navigation-wrapper {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 30px;
}

.navigation-list {
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}

.navigation-inner-list {
  border: none;
}

.navigation-list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}


.navigation-inner-list a {
  color: rgb(167, 167, 167);
}

.navigation-inner-list .active a {
  color: white;
}

.navigation-list li::marker {
  color: red;
}

.navigation-list li {
  list-style-type: none;
}

.navigation-list li.active {
  list-style-type: disc;
}

.navigation-inner-list li,
.navigation-inner-list li.active {
  list-style-type: circle;
}
